body{
    background-color: #222;
    color:white;
}
nav{
    background-color: #222;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.heading {
    text-align: center;
}
p {
    text-align: center;
}
.item {
    font-family: Helvetica;
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 5px;
}
.item:hover {
    background: grey;
    opacity: 0.5;
}
a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.buttonsForDifficulties{
    display:flex;
    justify-content: center;
    
}
